@import "./form.sass"

$accent-color: #cc5b36

.data-register-form
  @include complete-form

.data-register-intensity
  padding: 1rem .2rem
  display: flex
  flex-direction: column
  gap: 1rem
  width: 90vw
  max-width: 900px
  margin: 0 auto

  label
    width: 50%
    min-width: 100px
    max-width: 500px
    display: flex
    flex-direction: column

    input
      padding: .3rem .5rem
      font-size: 1.1rem
    
.data-register-chart
  margin: 0 auto
  max-width: min(90vw, 900px)

  > p 
    font-size: 1.1rem
    display: inline

    &:last-child
      float: right
