$accent-color: #cc5b36

table.data-table
  width: min(90vw, 900px, 100vw)
  margin: 2rem auto
  border-collapse: collapse
  overflow-x: scroll

  thead
    border: solid 2px #000
    border-radius:  10px

    th span
      display: none
      &.break-lg 
        @media (min-width: 730px)
          display: inline
      &.break-md
        @media (max-width: 729px) and (min-width: 500px)
          display: inline
      &.break-sm 
        @media (max-width: 499px)
          display: inline

  tbody
    border: solid 2px #000
    border-radius:  10px

    tr.selected
      background: #BBB
    
    td
      text-align: center
      cursor: default

  th, td
    padding: .5rem

.data-table-updateable
  appearance: none
  display: block
  width: 8ch
  max-width: 100%
  margin: 0 auto
  text-align: center
  border: none
  font-size: 1rem
  font-family: "Montserrat", sans-serif
  line-height: 1.24
  border-bottom: solid 2px transparent
  transition: border-bottom-color .5s ease

  &:focus 
    outline: none
    border-bottom-color: $accent-color

  &::-webkit-inner-spin-button
    display: none
